{% extends "servisne_info/views/layouts/base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3 main-content">
    {% if success %}
      <h2>Uspešno ste se prijavili!</h2>

      <p>Poslaćemo Vam poruku na <strong class="email">{{email}}</strong> ako uočimo novu
      servisnu informaciju za ulice <strong class="streets">{{streets}}</strong>.</p>

      <p>Želimo Vam lep ostatak dana!</p>
    {% else %}
      <h2>Prijava nije uspela!</h2>

      <p>Morate uneti ispravnu email adresu i odgovoriti na pitanje.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
