{% extends "servisne_info/views/layouts/base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3 main-content">
    <h2>Odjavljivanje</h2>

    <br/>

    <p>Žao nam je što se odjavljujete. Ako servis nije ispunio vaša očekivanja, značilo bi nam da to čujemo.
    Slobodno nas kontaktirajte.</p>

    <br/>

    <form action="/users/destroy" method="post" role="form">
      <div class="form-group">
        <label for="email">Email:</label>
        <input class="form-control" id="email" name="email" placeholder="pera.detlic@crtani.com" type="email">
      </div>
      <input type="submit" class="btn btn-primary btn-lg active" value="Odjavi me">
    </form>
  </div>
</div>
{% endblock %}
