{% extends "servisne_info/views/templates/base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Dobrodošli na servisne.info</h1>
  <p>Servisne.info vam šalju korisne servisne informacije na mejl za ulicu ili deo grada koji odaberete.</p>
  <p>
  Izvori servisnih informacija:
  <ul>
    <a href="http://www.021.rs">021.rs</a>
  </ul>
  </p>
</div>

<div class="row-fluid">
  <div class="span8">
    <a href="/users/new" class="btn btn-primary btn-lg active" role="button">Prijavi me</a>
  </div>
</div>

<div class="row-fluid">
  <div class="span8">
    <h2>Poslednje servisne informacije<h2>

    <ul>
      {% for link in info-links %}
      <li><a href="{{link.url}}">{{link.title}}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
