{% extends "servisne_info/views/templates/base.html" %}
{% block content %}

<div class="jumbotron">
  <h2>Dobrodošli na servisne.info</h2>
  <p>servisne.info vam šalju korisne servisne informacije na mejl za ulicu ili deo grada koji odaberete.</p>
</div>

<div class="row text-centered">
  <div class="col-md-12">
    <a href="{{servlet-context}}/users/new" class="btn btn-primary btn-huge active" role="button">Prijavi me</a>
  </div>
</div>

<div class="jumbotron steps-explainer">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-centered">Prijavljivanje se vrši u 2 jednostavna koraka</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 text-centered">
      <h4>Unos imejl adrese</h4>
      <div class="step-wrapper">
        <div class="step-explainer step-1-explainer">
        </div>
      </div>
    </div>
    <div class="col-md-6 text-centered">
      <h4>Unos ulica</h4>
      <div class="step-wrapper">
        <div class="step-explainer step-2-explainer">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 latest-info">
    <h2>Poslednje servisne informacije</h2>

    <ul>
      {% for link in info-links %}
      <li><a href="{{link.url}}">{{link.title}}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
