{% extends "servisne_info/views/layouts/base.html" %}
{% block content %}

<div class="row">
  <div class="col-md-6 col-md-offset-3 main-content">
    <div class="intro">
      <h3>Budite spremni za nestanak struje, <br /> 
      vode ili grejanja</h3>

      <p>servisne.info vam šalju korisne servisne informacije na mejl za ulice koje odaberete.</p>
    </div>
    
    <p>Unesite <strong>ulice u Novom Sadu</strong> koje vas interesuju, odvojene zarezom.
    Preporučujemo Vam da unesete naziv ulice u svim oblicima koji se koriste u redovnoj upotrebi.
    Na primer "Svetozara Miletića" i "Miletićeva".
    Nije neophodno koristiti latinične karaktere.</p>

    <form action="{{servlet-context}}/users/create" method="post" role="form">
      <div class="form-group">
        <label for="email">Email:</label>
        <input class="form-control" id="email" name="email" placeholder="pera.detlic@crtani.com" type="email">
      </div>

      <div class="form-group">
        <label for="streets">Ulice:</label>
        <textarea id="streets" name="streets" class="form-control" rows="3"
          placeholder="Bulevar oslobođenja, Miletićeva, Svetozara Miletića"></textarea>
      </div>

      <input type="submit" class="btn btn-primary btn-lg active" value="Prijavi me">
    </form>
    
    <p>Unošenjem svoje imejl adrese slažete se sa <a href="/terms" class="a-green">uslovima korišćenja</a>.</p>
    
    <p>Ako želite da prestanete da koristite servisne.info, uvek se možete <a href="{{servlet-context}}/users/delete" class="a-green">odjaviti</a>.</p>
    
    <div class="latest-info top-30">
      <h3>Poslednje servisne informacije</h3>

      <ul>
        {% for link in info-links %}
        <li><a href="{{link.url}}">{{link.title}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
