{% extends "servisne_info/views/layouts/base.html" %}
{% block content %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3 main-content">
      <h2>Uslovi korišćenja</h2>

      <br/>

      <p>
        servisne.info je servis baziran na <a href="https://github.com/strika/servisne.info">slobodnom softveru</a>.
        Autori servisa ne pružaju nikakve garancije, uključujući i garancije dostupnosti servisa
        relevantnosti i tačnosti dostavljenih informacija.
      </p>
    </div>
  </div>
{% endblock %}
