{% extends "servisne_info/views/layouts/base.html" %}
{% block content %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Uslovi korišćenja</h2>

      <br/>

      <p>servisne.info će se truditi da Vam dostave korisne informacije,
      ali ne garantuju da će Vam informacije biti dostavljene i 
      da će dostavljene informacije biti tačne.
      Informacije se preuzimaju sa <a href="http://021.rs" target="_blank" class="a-green">021.rs</a>.</p>

      <p>servisne.info će se truditi da očuvaju tajnost Vaših podataka,
      ali ne garantuju da će tajnost Vaših podataka biti očuvana.</p>
    </div>
  </div>
{% endblock %}
