@font-face {
    font-family: 'Clear Sans';
    src: url('../fonts/EOT/ClearSans-Regular.eot') format('embedded-opentype'); /* IE9 Compat Modes */
    src: url('../fonts/EOT/ClearSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('../fonts/WOFF/ClearSans-Regular.woff') format('woff'), /* Modern Browsers */
     url('../fonts/TTF/ClearSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
     url('../fonts/SVG/ClearSans-Regular.svg#levenim') format('svg'); /* Legacy iOS */
}

html {
	padding: 0;
}

body {
	background-color: #ececec;
	padding: 0;
	font-family: 'Clear Sans' !important;
	color: #878787;
}

.content {
	min-height: 100%;
	position: relative;
	padding-bottom: 6em;
}

a.a-green {
	color: green;
}

.jumbotron {
	background-color: #f8f8f8;
	padding: .5em;
}

.steps-explainer {
	margin-top: 60px;
}

.step-explainer img, .avatar img {
	visibility: hidden;
}

.step-1-explainer {
	background: url(../slike/korak1-bw.jpg) no-repeat;
}

.step-1-explainer:hover {
	background: url(../slike/korak1.jpg) no-repeat;
}

.step-2-explainer {
	background: url(../slike/korak2-bw.jpg) no-repeat;
}

.step-2-explainer:hover {
	background: url(../slike/korak2.jpg) no-repeat;
}

.step-explainer {
	padding: 12px;
	border: 1px solid #b1b1b1;
	border-radius: 10px;
	background-color: #ececec;
	background-position: 12px 12px;
	display: inline-block;
}

.step-explainer:hover {
	background-color: #ececec;
	background-position: 12px 12px;
}

.avatar {
	display: inline-block;
}

.tanja {
	background: url(../slike/tanja-bw.jpg) no-repeat;
	border-radius: 10px 100px 100px 100px; 
}

.tanja:hover {
	background: url(../slike/tanja.jpeg) no-repeat;
}

.avatar-tanja {
	padding-bottom: 1em;
	text-align: right;
}

.nebojsa {
	background: url(../slike/nebojsa-bw.jpg) no-repeat;
	border-radius: 100px 10px 100px 100px; 
}

.nebojsa:hover {
	background: url(../slike/nebojsa.jpeg) no-repeat;
}


h2 {
	color: #AD235E;
}

h3, h4 {
	padding-bottom: 20px;
}

h3.autori {
	padding-top: 2em;
}

div.container .btn-primary {
	background-color: #7D9C9F;
	color: #ECECEC;
	border: 0;
	margin-top: 30px;
}

div.container .btn-huge {
	padding: 10px 50px;
	font-size: 3em;
	border-radius: 20px;
	-webkit-box-shadow: 5px 5px #6e898c;
	-moz-box-shadow: 5px 5px #6e898c;
	box-shadow: 5px 5px #6e898c;
}

div.container .btn-primary:hover {
	background-color: #83a3a7;
}

.latest-info {
	padding-bottom: 20px;
}

.latest-info ul {
	list-style: none;
	padding-left: 1em;
}

.latest-info li a {
	color: #878787;
}

form {
	text-align: center;
}

.steps {
	margin-top: 30px;
	margin-bottom: 80px;
}

.step {
	width: 100px;
	height: 100px;
	text-align: center;
	display: table;
	margin: 0 auto;
	color: #ad235e;
}

.step-active {
	background-color: #ad235e;
}

.step-circle {
	border: 2px solid #ad235e;
	border-radius: 50px;
	color: #b1b1b1;
}

.step span {
	display: table-cell;
	vertical-align: middle;
	font-size: 2.5em;
}

.text-centered {
	text-align: center;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 4em;
	background-color: #F8F8F8;
		
}