html {
  padding: 0;
}

body {
  background: url(/images/rain-on-window.jpg) no-repeat #ececec;
  background-position: 100%;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  color: #878787;
}

.top-30 {
  margin-top: 30px;
}

.content {
  min-height: 100%;
  position: relative;
  padding-bottom: 6em;
}

.main-content {
  background-color: rgba(248, 248, 248, 0.9);
}

.main-content form {
  margin: 30px 0;
}

a.a-green {
  color: green;
}

.jumbotron {
  background-color: #f8f8f8;
  padding: .5em;
}

.avatar {
  background: url(/images/about.png) no-repeat;
  display: inline-block;
  height: 200px;
  width: 200px;
}

.tanja {
  background-position: 0 -630px;
  border-radius: 10px 100px 100px 100px; 
}

.tanja:hover {
  background-position: 0 -420px;
}

.tanja.hover {
  background-position: 0 -420px;
}

.avatar-tanja {
  padding-bottom: 1em;
  text-align: right;
}

.nebojsa {
  background-position: 0 -210px;
  border-radius: 100px 10px 100px 100px; 
}

.nebojsa:hover {
  background-position: 0 0;
}

.nebojsa.hover {
  background-position: 0 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #AD235E;
  padding-bottom: 20px;
}


h3.autori {
  padding-top: 2em;
}

div.container .btn-primary {
  background-color: #7D9C9F;
  color: #ECECEC;
  border: 0;
}

div.container .btn-huge {
  padding: 10px 50px;
  font-size: 3em;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px #6e898c;
  -moz-box-shadow: 5px 5px #6e898c;
  box-shadow: 5px 5px #6e898c;
}

div.container .btn-primary:hover {
  background-color: #83a3a7;
}

.latest-info {
  padding-bottom: 20px;
}

.latest-info ul {
  list-style: none;
  padding-left: 1em;
}

.latest-info li a {
  color: #878787;
}

.steps {
  margin-top: 30px;
  margin-bottom: 80px;
}

.step {
  width: 100px;
  height: 100px;
  text-align: center;
  display: table;
  margin: 0 auto;
  color: #ad235e;
}

.step-active {
  background-color: #ad235e;
}

.step-circle {
  border: 2px solid #ad235e;
  border-radius: 50px;
  color: #b1b1b1;
}

.step span {
  display: table-cell;
  vertical-align: middle;
  font-size: 2.5em;
}

.text-centered {
  text-align: center;
}
