{% extends "servisne_info/views/templates/base.html" %}
{% block content %}
<h2>Unesite vašu email adresu:</h2>

<div class="row-fluid">
  <div class="span8">
    <form action="/users/create" method="post" role="form">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
      </div>
      <input type="submit" class="btn btn-default" value="Dodaj ulice">
    </form>
  </div>
</div>
{% endblock %}
